::selection {
  text-shadow: none;
  color: #fff;
  background-color: #00f;
}

html {
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 530px) {
  * {
    font-size: 10px;
  }
}

*,
*::before,
*::after,
html {
  box-sizing: border-box;
}

body {
  font-family: 'Font Stack', sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit;
}

a,
button {
  touch-action: manipulation;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

iframe,
video {
  height: 100%;
  width: 100%;
}

.productList {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}



.productList td,
.productList th {
  border: 1px solid rgb(201, 201, 201);
  padding: 8px;
}

.productList tr:nth-child(even) {
  background-color: #f2f2f2;
}

.productList tr:hover {
  background-color: #ddd;
}

.productList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.desc {
  max-height: 100px;
  overflow: auto;
  word-break: break-all;
}

.top {
  margin-top: 0;
  background-color: #04aa6d;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}


.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.searchField{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #04aa6d;
  padding-right: 40px;
  color:#fff;
}
.searchField::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:hover ~ .searchField{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.searchField:hover{
  width: 300px;
  border-radius: 0px;
  /* background-color: transparent; */
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

